replicaCount: 1

resources:
  requests:
    cpu: 50m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

persistence:
  enabled: true
  size: 5Gi
  storageClassName: longhorn

service:
  type: LoadBalancer

config:
  service:
    api_key:
      existingSecret: qdrant-api-key
      secretKey: api-key
