apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: clickstack

resources:
  - namespace.yaml
  - ingress.yaml

helmCharts:
  - name: clickstack
    repo: https://hyperdxio.github.io/helm-charts
    releaseName: clickstack
    namespace: clickstack
    valuesFile: values.yaml
