apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

resources:
  - resources/namespace.yaml
  - resources/ingress.yaml
  - resources/configmap.yaml
  - resources/cluster-collector.yaml
  - resources/rbac.yaml
  - resources/resourcequota.yaml

helmCharts:
  - name: clickstack
    repo: https://hyperdxio.github.io/helm-charts
    releaseName: clickstack
    namespace: observability
    valuesFile: resources/values.yaml

  - name: opentelemetry-collector
    repo: https://open-telemetry.github.io/opentelemetry-helm-charts
    releaseName: cluster-event-collector
    namespace: observability
    valuesFile: resources/k8s_deployment.yaml # values directly from hyperdx documentation

  - name: opentelemetry-collector
    repo: https://open-telemetry.github.io/opentelemetry-helm-charts
    releaseName: cluster-metrics-collector
    namespace: observability
    valuesFile: resources/k8s_daemonset.yaml

  # - name: kube-state-metrics
  #   repo: https://prometheus-community.github.io/helm-charts
  #   releaseName: kube-state-metrics
  #   namespace: observability
  #   valuesFile: resources/kube-state-metrics-values.yaml
