apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

resources:
  - resources/namespace.yaml
  - resources/configmap.yaml
  - resources/cluster-collector.yaml
  - resources/rbac.yaml
  #- resources/resourcequota.yaml

helmCharts:
  - name: clickstack
    repo: https://hyperdxio.github.io/helm-charts
    releaseName: clickstack
    namespace: observability
    valuesFile: values/clickstack_values.yaml

  - name: opentelemetry-collector
    repo: https://open-telemetry.github.io/opentelemetry-helm-charts
    releaseName: cluster-event-collector
    namespace: observability
    valuesFile: values/k8s_deployment_values.yaml # values directly from hyperdx documentation

  - name: opentelemetry-collector
    repo: https://open-telemetry.github.io/opentelemetry-helm-charts
    releaseName: cluster-metrics-collector
    namespace: observability
    valuesFile: values/k8s_daemonset_values.yaml

  - name: kube-state-metrics
    repo: https://prometheus-community.github.io/helm-charts
    releaseName: kube-state-metrics
    namespace: observability
    valuesFile: values/kube_state_metrics_values.yaml
