apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

resources:
  - resources/namespace.yaml
  - resources/ingress.yaml

helmCharts:
  - name: clickstack
    repo: https://hyperdxio.github.io/helm-charts
    releaseName: clickstack
    namespace: observability
    valuesFile: resources/values.yaml
