global:
  storageClassName: longhorn

clickhouse:
  replicaCount: 1
  resources:
    requests:
      cpu: 200m
      memory: 1Gi
    limits:
      cpu: 500m
      memory: 1.5Gi
  persistence:
    enabled: true
    size: 50Gi

mongodb:
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 384Mi
  persistence:
    enabled: true
    dataSize: 20Gi
hyperdx:
  useExistingConfigSecret: true
  existingConfigSecret: "hyperdx-secret"
  existingConfigConnectionsKey: "connections.json"
  existingConfigSourcesKey: "sources.json"
  frontendUrl: "https://hyperdx.cloudhaven.work"
  ingress:
    enabled: false
  app:
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
  waitForMongodb:
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi
